.bike-dft { color: #9E9E9E; }

.bike-mei { color: #FECE02; }
.bike-mob { color: #E91E63; }

.bike-did { color: #FF8300; }
.bike-bgg { color: #0000FF; }
.bike-qin { color: #009688; }

.bike-hel { color: #2984F8; }

.bike-ofo { color: #FFFF00; }