.bike-dft { color: #9E9E9E; }
.bike-mob { color: #E91E63; }
.bike-ofo { color: #CCCC7B; }
.bike-bgg { color: #0000FF; }
.bike-hel { color: #2984F8; }
.bike-qin { color: #009688; }
.bike-mei { color: #FECE02; }